<ion-header>
  <ion-navbar>
    <ion-title>{{list.title}}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-searchbar [ngModel]="input" (ngModelChange)="filterItems($event)"></ion-searchbar>
  <button ion-button (click)="openWindowToCreateItem()">create Item</button>

  <ion-list>
    <item *ngFor="let item of filteredItems" [item]="item"></item>
  </ion-list>
  <div *ngIf="!filteredItems || !filteredItems.length" class="note" text-center>
    The list is empty.
  </div>
</ion-content>
